.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100vh;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
}

.form {
  display: flex;
  flex-direction: column;
  max-width: 450px;
  width: 40%;
  height: 50vh;
  justify-content: space-evenly;
  padding: 2%;
  background: #35373B;
  /* background: white; */
  /* background: rgba(53, 55, 59, 0.712); */
  box-shadow: 0 4px 8px 0 black;
  border-radius: 15px;

}

.update-form {
  display: flex;
  flex-direction: column;
  max-width: 550px;
  width: 55%;
  height: 50vh;
  justify-content: space-evenly;
  padding: 2%;
  background: #35373B;
  box-shadow: 0 4px 8px 0 black;
  border-radius: 15px;

}

.input {
  margin-left: 5px;
  width: 70%;
  padding: 2%;
  border: 1px solid #35373B;
  border-radius: 10px;
}

.select-input {
  /* margin-left: 5px; */
  width: 74%;
  padding: 2%;
  border: 1px solid #35373B;
  border-radius: 10px;
}

.label {
  text-align: left;
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  color: white;
  font-weight: bold;
}

.button {
  border: 1px solid white;
  border-radius: 10px;
  padding: 2%;
  background: #35373B;
  color: white;
  font-weight: bold;
}

.button:hover {
  cursor: pointer;
  background: white;
  color: #FF5577;
  border: 1px solid #FF5577;
}

.title {
  color: #35373B;
}

.error {
  font-size: .7rem;
  text-align: center;
  color: #FF5577;
  margin: 0;
}

.errorDiv {
  border: 1px solid white;
}

.loginhere {
  font-size: .7rem;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  color: #FF5577; 
}